@font-face {
    font-family: 'latoregular';
    src: url('../fonts/lato-regular-webfont.eot');
    src: url('../fonts/lato-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lato-regular-webfont.woff2') format('woff2'),
         url('../fonts/lato-regular-webfont.woff') format('woff'),
         url('../fonts/lato-regular-webfont.ttf') format('truetype'),
         url('../fonts/lato-regular-webfont.svg#latoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'latoitalic';
    src: url('../fonts/lato-italic-webfont.eot');
    src: url('../fonts/lato-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lato-italic-webfont.woff2') format('woff2'),
         url('../fonts/lato-italic-webfont.woff') format('woff'),
         url('../fonts/lato-italic-webfont.ttf') format('truetype'),
         url('../fonts/lato-italic-webfont.svg#latoitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'latobold_italic';
    src: url('../fonts/lato-bolditalic-webfont.eot');
    src: url('../fonts/lato-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lato-bolditalic-webfont.woff2') format('woff2'),
         url('../fonts/lato-bolditalic-webfont.woff') format('woff'),
         url('../fonts/lato-bolditalic-webfont.ttf') format('truetype'),
         url('../fonts/lato-bolditalic-webfont.svg#latobold_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'latobold';
    src: url('../fonts/lato-bold-webfont.eot');
    src: url('../fonts/lato-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lato-bold-webfont.woff2') format('woff2'),
         url('../fonts/lato-bold-webfont.woff') format('woff'),
         url('../fonts/lato-bold-webfont.ttf') format('truetype'),
         url('../fonts/lato-bold-webfont.svg#latobold') format('svg');
    font-weight: normal;
    font-style: normal;
}
img {
  display: inline-block;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  cursor: pointer;
}
img:hover, img:focus, img:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

html, body{
    font-family: 'latoregular';
    font-size: 1em;
    color: #252525;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
a{
    color: #00b2ed;
    text-decoration: none;
    outline: none;
}
    a:hover{
        color: #ff5300;
        text-decoration: none;
    }
h1,h2,h3,h4,h5{
    color: #094969;
    
}
h1{   
    font-size: 2em;
    margin-top: 0px;
    margin-bottom: 22px;
    text-transform: uppercase;
}
h2{
    font-size: 1.500em;
}
.textCenter{
    text-align: center;
    width: 100%;
}
.subtitles{
    color: #ff5300;
    font-weight: normal;
    font-family: 'latoregular';
    font-size: 2em;
    display: block;   
}
hr.separator{
    background: url("../images/borderSubTitles.jpg") no-repeat center bottom;
    margin: 16px 0;
    width: 100%;
    border: none;
    height: 3px;

}
button, input[type=button], input[type=reset], input[type=submit],.btn-default{
    color: #fff;
    border: none;
    background: #ff5300;
    font-family: 'latoregular';
    font-size: 1em;
    text-transform: uppercase;
}
    .btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open>.dropdown-toggle.btn-default,button:hover, input[type=button]:hover, input[type=reset]:hover, input[type=submit]:hover {
        color: #00334b;
        background-color: #ffffff;
        border: none;
    }
.lightBlue{
    margin: 0 auto;
    text-align: center;
    background: #00b2ed;
    display: inherit;
}

    .lightBlue:hover{
        background: #ff5300;
        color: #fff;
    }

textarea, select, input[type="search"],input[type="email"], input[type="number"], input[type="password"], input[type="tel"], input[type="url"], input[type="text"],.form-control{
    border-radius: 4px;
    background: #ebebeb;
    border: none;
    font-family: 'latoregular';
    font-size: 1em;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
}
select{
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
   background: url("../images/iconSelect.jpg") right center  no-repeat #ebebeb; 
}

input[type="search"]{
    background: url("../images/iconSearch2.jpg") no-repeat right center #ebebeb;
    padding-right: 45px;
}

#headerSearch{
    color: #00b2ed;   
    background-color: #094969;
    background: url("../images/iconSearch.jpg") no-repeat 270px center #094969;
    width: 300px;
    margin-right: 8px;
}

.breadcrumb {
    padding: 21px 0px;
    margin-bottom: 0px;
    list-style: none;
    background: none;
    border-radius: 0px;
    color: #fff;
}

.breadcrumb li,.breadcrumb a, .breadcrumb a:hover{
    color: #fff;
}
.breadcrumb>li+li:before {
    padding: 0 5px;
    color: #fff;
    content: "/\00a0";
}
.breadcrumb>.active {
    color: #094969;
}
#navIcon{
    display: block;
    width: 210px;
    height: 32px;
    margin-left: auto;
    margin-right: auto;
}
a.icons{
    width: 32px; 
    height: 32px;
    display:block;
    text-indent:-10000px;
    color: rgba(0,0,0,0);
    background: url("../images/iconSprite.png");
    margin: 0 10px;
    display: block;
    float: left;
}

a.iconFacebook{ background-position: 0 0;} 
a.iconFacebook:hover{ background-position: -37px 0;} 
a.iconFavorites{ background-position: -74px 0;} 
a.iconFavorites:hover{ background-position: -111px 0;} 
a.iconGmail{ background-position: -148px 0;} 
a.iconGmail:hover{ background-position: -185px 0;} 
a.iconHelp{ background-position: -222px 0;} 
a.iconHelp:hover{ background-position: -259px 0;} 
a.iconInformation{ background-position: -296px 0;} 
a.iconInformation:hover{ background-position: -333px 0;} 
a.iconTwitter{ background-position: -370px 0;} 
a.iconTwitter:hover{ background-position: -407px 0;} 
a.iconUser{ background-position: -444px 0;} 
a.iconUser:hover{ background-position: -481px 0;} 

.currency_val{
    text-align: center;
}

.currency{
    font-size: 1.500em;
    color: #00b2ed;
}
.val{
    font-size: 3.000em;
    color: #00b2ed;
}

.date_currency{
    color: #00b2ed; 
    width: 100%;
    text-align: center;
    float: left;
    margin-bottom: 16px;
}
.panel-group .panel {
    border-radius: 0px;
}
.panel-default{
    border: none;
}

.panel-default .panel-heading {
    color: #252525;
    background-color: #FFF;
    border: none;
}
.panel-group .panel-heading {
    border-top: 1px solid #d3d3d3;
    padding: 0px;
}

.panel-heading{
    padding: 8px 10px;
    cursor: pointer;
}
    .panel-heading:hover{
        background: #ff5300;
        color: #fff;
    }
    .panel-heading:hover a{
        color: #fff;
    }
.panel-title a{
    outline: none;
    text-decoration: none;
    color: #252525;
    width: 100%;
    padding: 7px 10px;
    display: block;
    letter-spacing: -1px
}
.panel-title a:hover, .panel-title a.activeAccordion{
    color: #fff;
    background: #ff5300;
}
.panel-default>.panel-heading+.panel-collapse>.panel-body{
    padding: 0;
    background-color: #ff5300;
}
.panel-body .nav-pills li a{
    color: #fff;
    padding: 5px 15px;
}
.panel-body .nav-pills li a:hover{
    background: #252525;
}
.panel-body .nav-pills li{
    border: none;
}
.panel-group .panel+.panel {
    margin-top: 0px; 
}
.glyphicon{
    font-size: 9px;
    text-align: right;
    float: right;
    margin: 4px 0 0 0;
    font-weight: normal; 
}

/*HEADER*/
#wrapper-header{
    width: 100%;
    min-height: 96px;
    height: auto !important;
    height: 96px;
    background-color: #00334b;
}
    #wrapper-header #logo{
        margin: 18px 0;
        float: left;
    }
    #btnMenu{
        height: 96px;
        width: 47px;
        float: right;
        text-align: center;
        background: none;
        outline: none;
        border: none;
    }
        .bar{
            display: block;
            width: 16px;
            height: 4px;
            border-radius: 0px;
            background-color: #00b2ed;
            margin-top: 2px;
            margin-left: auto;
            margin-right: auto;
        }
        #btnMenu:hover,#btnMenu:active, #btnMenu:focus,#btnMenu.active{
            background: #ff5300;
            outline: none;
            border: none;
        }
        #btnMenu:hover .bar, #btnMenu:active .bar, #btnMenu:focus .bar, #btnMenu.active .bar{
            background-color: #fff;
        }
    #menu ul{
        display: none;
        position: absolute;
        background: #ff5300;
        z-index: 999;
        left: 0px;
        top: 96px;
        width: 100%;
    }
    #menu a{
        color: #fff;
        padding-left: 20px;
        padding-right: 20px;
    }
        #menu a:hover{
            background:#252525;
        }
    form#search{
    margin-top: 32px;
    float: left;
    }
        .search{
            display: none;
        }
        .navbar-form{
            padding: 0;
        }
/*end - HEADER*/


/*BREADCRUMB*/
#wrapper-breadcrumb{
    width: 100%;
    min-height: 32px;
    height: auto !important;
    height: 32px;
    background-color: #00b2ed;
}
/*end - BREADCRUMB*/


/*CONTENT*/
#wrapper-content{
    width: 100%;
    min-height: 150px;
    height: auto !important;
    height: 150px;
    background-color: #fff;
    margin-top: 32px;
    margin-bottom: 32px;
}
    .content-top{
        margin-bottom: 32px;
    }   
        .content-top h1{
            margin-bottom: 8px;
        }
        .nav-stacked>li+li{
            margin-top: 0px;
        } 
        .nav-pills li{
            border-bottom: 1px solid #cedbe1;
        }
            .nav-pills li a{
                color: #252525;
                padding: 5px 9px;
                border-radius: 0px;
            }
            .nav-pills li a.active{
                color: #094969;
            }
                .nav-pills li.active a, .content-top .nav-pills li.active a:hover, .content-top .nav-pills li.active a:focus{
                    background-color: #ff5300;
                    color: #fff;
                }
                .nav li a:hover, .content-top .nav li a:focus {
                    text-decoration: none;
                    background-color: #ff5300;
                    color: #fff;
                }
        .content-top .news{
            border-bottom: 1px solid #d3d3d3;
            display: none;
            width: 100%;
            height: auto;
            float: left;
            margin-bottom: 16px;
        }
        .content-top .news img, .content-top .news p, .content-top .news a{
            float: left;
        }
        .content-top .news img{
            margin-right: 8px;
        }
        .content-top .news p{
            width: 60%;
            float: left;
        }
        .content-top .news a{
            text-decoration: underline;
            float: left;
           /*width: 50%;*/
        }

    .content-bottom{
        width: 100%;
        padding: 58px 0 23px 0;
        border-top: 1px solid #d3d3d3;
    }
        .content-bottom a{
            color: #094969;
            font-family: 'latoitalic';
            width: 100%;
            display: block;
        }
        .content-bottom a:hover{
            color: #ff5300;
        }
        .content-bottom strong, strong.money{
            color: #00b2ed;
            font-size: 1.500em;
        }
        .content-bottom img{
            margin-bottom: 13px;
        }

        #wrapper-content .textCenter{
            letter-spacing: -0.2px;
        }
/*end - CONTENT*/


/*FOOTER*/
#wrapper-footer{
    width: 100%;
    min-height: 220px;
    height: auto !important;
    height: 220px;
    background-color: #094969;
    padding: 24px 0;
    color: #00b2ed;
}
    #wrapper-footer ul li{
        padding-bottom: 7px;
        margin-bottom: 7px;
        border-bottom: 1px solid #075e83;
    }
    #wrapper-footer .copyright{
        text-align: center;
        border-top: 1px solid #075e83;
        padding-top: 24px;
        margin-top: 24px;
        margin-bottom: 0px;
    }
    #wrapper-footer p.social{
        width: 100%;
        float: left;
        margin: 15px 0 32px 0;
    }
    #wrapper-footer .info img{
        float:left;
        margin-right:15px;
    }
    .iconGmail{
        margin: 0 10px 0 0;
    }
/*end - FOOTER*/

.list-cat{
    padding: 16px 0;
    border-top: 1px solid #d3d3d3;
}
.list-cat img{
    float: left;
}

.listSearch{
    margin-bottom: 8px;
}


/*********Small screens**********/
/* Define mobile styles */
@media only screen {} 
/* max-width 640px, mobile-only styles, use when QAing mobile issues */
@media only screen and (max-width: 40em) { 
    #wrapper-breadcrumb{
        min-height: 16px;
        height: auto !important;
        height: 16px;
    }
    #wrapper-footer{
        padding: 24px 35px;
    }
    img.img-responsive{
        width: 100%;
    }
    .currentNews{
        margin-top: 10px;
        margin-bottom: 10px;
        width: 100%;
    }
    #wrapper-header #logo{
        margin: 18px 0 18px 15px;
    }   
} 





/*********Medium screens**********/
/* min-width 641px, medium screens */
@media only screen and (min-width: 40.063em) { 
    .currentNew{
        margin-top: 10px;
        margin-bottom: 10px;
        width: 100%;
    }   
} 
@media (min-width: 992px){
    .content-top .news{
        display: block;
    }
    #menu ul{
        left: 178px;
        width: 170px;
    }
    #navIcon{
        margin-top: 32px;
    }
    .search{
        display: block;
    }

}
@media (max-width: 991px) {
     .wrapperIcons{
        border-top: 1px solid #335c6f;
        padding: 16px 0;
    }
    .content-bottom strong{
        margin-bottom: 13px;
    }
    h1.textCenter, strong.subtitles{
        margin-top: 16px;
    }
    #wrapper-footer div.social{
        text-align: center;
        margin: 32px auto 0 auto;
        width: 160px;
        display: block;
        height: 32px;
    }
    #wrapper-footer p.social{
        text-align: center;
        border-bottom: 1px solid #075e83;
        padding-bottom: 26px;
    }
    #wrapper-footer .info{
        width: 195px;
        margin: 0 auto;
    }
    .iconGmail{
        margin: 0 0 0 0;
    }
}

/* min-width 641px and max-width 1024px, use when QAing tablet-only issues */
@media only screen and (min-width: 40.063em) and (max-width: 64em) { } 





/*********Large screens**********/
/* min-width 1025px, large screens */
@media only screen and (min-width: 64.063em) { 
    
} 
/* min-width 1025px and max-width 1440px, use when QAing large screen-only issues */
@media only screen and (min-width: 64.063em) and (max-width: 90em) { } 





/*********XLarge screens**********/
/* min-width 1441px, xlarge screens */
@media only screen and (min-width: 90.063em) { } 
/* min-width 1441px and max-width 1920px, use when QAing xlarge screen-only issues */
@media only screen and (min-width: 90.063em) and (max-width: 120em) { } 





/*********XXLarge screens**********/
/* min-width 1921px, xxlarge screens */
@media only screen and (min-width: 120.063em) { } 